{% extends 'base/base.html' %}
{% block javascript %}
<script>
	$(function() {
		$("#id_image").change(function () {
		  if (this.files && this.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function (e) {
		      $("#image").attr("src", e.target.result);
		      $("#modalCrop").modal("show");
		    }
		    reader.readAsDataURL(this.files[0]);
		  }
		});
		var $image = $("#image");
		var cropBoxData;
		var canvasData;
		$("#modalCrop").on("shown.bs.modal", function () {
		  $image.cropper({
		    viewMode: 1,
		    dragMode:'crop',
		    aspectRatio: 2/1,
		    responsive: true,
		    minContainerWidth: 0,
		    minContainerHeight: 0, 
		    ready: function () {
		      $image.cropper("setCanvasData", canvasData);
		      $image.cropper("setCropBoxData", cropBoxData);
		    }
		  });
		}).on("hidden.bs.modal", function () {
		  cropBoxData = $image.cropper("getCropBoxData");
		  canvasData = $image.cropper("getCanvasData");
		  $image.cropper("destroy");
		});

		// Enable zoom in button
		$(".js-zoom-in").click(function () {
		  $image.cropper("zoom", 0.1);
		});

		// Enable zoom out button
		$(".js-zoom-out").click(function () {
		  $image.cropper("zoom", -0.1);
		});
		
		$(".js-crop-and-upload").click(function () {
			var cropData = $image.cropper("getData");
			$("#id_x").val(cropData["x"]);
			$("#id_y").val(cropData["y"]);
			$("#id_height").val(cropData["height"]);
			$("#id_width").val(cropData["width"]);
			//$("#formUpload").submit();
		});
		$(".js-submit-and-upload").click(function () {
			var cropData = $image.cropper("getData");
			if(id_height.value != '' && id_width.value != '' && id_height.value != '0' && id_width.value != '0'){
				return;
			}
			$("#id_x").val(cropData["x"]);
			$("#id_y").val(cropData["y"]);
			$("#id_height").val(cropData["height"]);
			$("#id_width").val(cropData["width"]);
		});

	});
	</script>
{% endblock %}
{% block content %}
	<div class = "container">
		<div class ="row">
		<form method="post" enctype="multipart/form-data" id="formUpload">
  			{% csrf_token %}
  			{{ form.as_p }}
			<a class= "btn btn-primary btn-dash" data-toggle="modal" href="#modalCrop">Open Crop Tool</a>
			{% if method == 'update'%}	
				<input class = "js-submit-and-upload" type="submit" value="Create"/>
			{% else %}
				<input type="submit" value="Create"/>
			{% endif %}
		</form>
		</div>
		
		<div class="modal fade" id="modalCrop" data-keyboard = "false" data-backdrop="static">
		  	<div class="modal-dialog modal-lg">
		    	<div class="modal-content">
		      		<div class="modal-header">
		      		<h4 class="modal-title">Crop the photo</h4>
		        	<button type="button" class="close js-crop-and-upload" data-dismiss="modal" aria-label="Close">
		          	<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<div class="modal-body crop-box">
		      		{% if method == 'update' %}
		      			<img src="{{photo.image.url}}" id="image" style="max-width: 100%;"/>
		      		{% else %}
		        		<img src="" id="image" style="max-width: 100%;"/>
		      		{% endif %}
		      	</div>
		      	<div class="modal-footer">
		        	<div class="btn-group pull-left" role="group">
		          	<button type="button" class="btn btn-default js-zoom-in">
		            <i class="fa fa-search-plus" aria-hidden="true"></i>
		          	</button>
		          	<button type="button" class="btn btn-default js-zoom-out">
		            <i class="fa fa-search-minus" aria-hidden="true"></i>
		          	</button>
			        </div>
			        	<button type="button" class="btn btn-default js-crop-and-upload" data-dismiss="modal">Close</button>
			      	</div>
		    	</div>
			</div>
		</div>
		<div class = "row">
			{% for photo in photos %}
				<div class="col-3">
					<img style="max-width: 100%" src="{{photo.thumb.url}}"/>
				</div>				
			{% endfor %}
		</div>		
	</div>	
{% endblock %}