{% extends 'base/base.html' %}
{% block content %}

<div class="container">
    <h1>All Members</h1>
    {% if officer %}
    <a class="btn btn-success btn-dash" href="{% url 'users:add'%}">Add Member</a>
    {% endif %}
    <a class="btn btn-primary btn-dash" href="{% url 'dashboard:index'%}">Dashboard</a>
    <table class="table table-bordered table-striped table-dark table-sort table-members">
        <thead>
            <tr>
                <th scope="col"><a href="{% url 'users:view_all'%}last_name">Name</a> <span class="text-right"><i class="fas fa-sort"></i></span></th>
                <th scope="col"><a href="{% url 'users:view_all'%}username">RCS</a> <span class="text-right"><i class="fas fa-sort"></i></span></th>
                <th scope="col"><a href="{% url 'users:view_all'%}voice_part">Voice Part</a> <span class="text-right"><i class="fas fa-sort"></i></span></th>
                <th scope="col"><a href="{% url 'users:view_all'%}current_member">Current Member</a> <span class="text-right"><i class="fas fa-sort"></i></span></th>
                <th scope="col"><a href="{% url 'users:view_all'%}position">Position</a> <span class="text-right"><i class="fas fa-sort"></i></span></th>
                <th scope="col"><a href="{% url 'users:view_all'%}class_year">Class Year</a> <span class="text-right"><i class="fas fa-sort"></i></span></th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for member in members|dictsortreversed:sort_by %}
            <tr>
                <td>{{member.first_name}} {{member.last_name}}</td>
                <td>{{member.username}}</td>
                <td>{{member.voice_part}}</td>
                <td>{{member.current_member}}</td>
                <td>{{member.position}}</td>
                <td>{{member.class_year}}</td>
                <td>
                    {% if officer or user.id == member.id%}
                    <span class="d-flex justify-content-between">


                        <a title="Edit" href="{% url 'users:edit' member.id %}"><i class="fas fa-edit"></i></a>
                        {% if member.current_member %}
                        <a title="Set Alumni" href="{% url 'users:graduate' member.id %}"><i class="fas fa-graduation-cap"></i></a>
                        {% endif %}
                        {% if officer %}
                        <a title="Delete" href="{% url 'users:remove' member.id %}"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    </span>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
