{% extends 'base/base.html' %}

{% block content %}

<div class="container">
    Logged in as {{ request.user.username}}
    <br>


    <br>
    <h3>Manage Members</h3>
    <a class="btn btn-primary btn-dash">Edit Member</a>
    <a class="btn btn-success btn-dash">Add Member</a>
    <a class="btn btn-danger btn-dash">Remove Member</a>

    <br>
    <h3>Manage Website</h3>
    <a class="btn btn-primary btn-dash">Manage Permissions</a>
    <a class="btn btn-dash btn-primary ">Edit Contact Form Email</a>
    
    <br>
    <h3>Manage Cover Photos</h3>
    <a class="btn btn-primary btn-dash" href = "#">Edit Cover Photo</a>
    <a class="btn btn-success btn-dash" href = "{% url 'home:manage_photos' %}">Add Cover Photo</a>

    <br>
    <h3>Manage Songs</h3>
    <a class="btn btn-primary btn-dash" href = "{% url 'music:edit_songs'%}">Edit Song</a>
    <a class="btn btn-success btn-dash" href = "{% url 'music:manage_songs' %}">Add Song</a>

    <br>
    <h3>Manage Albums</h3>
    <a class="btn btn-primary btn-dash" href = "{% url 'music:edit_albums'%}">Edit Album</a>
    <a class="btn btn-success btn-dash" href = "{% url 'music:manage_albums' %}">Add Album</a>
</div>

{% endblock %}
