{% extends 'base/base.html' %}
{% load template_fillers %}
{% block content %}
	<div class="members_intro">
		<p>
			When the lights go out and all hope is lost in the city of Troy,<br> 
			Partial Credit - RPI's only teal-clad a cappella group - is there.
			<br><br>Since 2003, Partial Credit has been bm bopping and zun zowing across the Northeast, saving
			lost souls with the power of music. In addition to performing on and off campus throughout the
			year, PC regularly competes in the International Championship of Collegiate A Cappella, recently
			placing 4th in their 2016 Quarterfinal and winning Best Arrangement for the second year in
			a row. They also host their own show each semester! <br><br>
			The group is fresh off the release of their newest CD, Simple Harmonic Motion, with
			ambitious plans in the near future.
		</p>
	</div>
	<div id="members" class = "container-fluid">
		{% for member_group in members_list%}
		<div class="row"> 
			<div class="col-sm">
				<h2 class="card ribbon_header voice_part">{{ member_group|getVoicePart }}</h2>
			</div>	
		</div>
		<div class= "row">
			{% for type, list_member in member_group.items %}
				{% for member in list_member%}
				<div class = "col-sm">
					<div class = "container member">
						<div class = "no-gutters row xs-format">
							<div class = "profile_picture col-sm-5 align-items-center" style  ="background-image: url('{{ member.profile.url }}') ">
							</div>
							<div class = "col-sm-7">
								<div class = "member_details">
									<h2> {{ member.first_name }} {{ member.last_name}}</h2>
									<p><i> 
										<span class="member_position">{{ member.position|positionStyle }}</span>
										{% if member.position %}
											<br>
										{% endif %}
										{{ member.major }}, Class of {{ member.class_year }} 
									</i></p>
									<p>
										<a class="about btn btn-secondary btn-block d-block d-sm-none" data-toggle="collapse" href="#{{ member.first_name }}_bio" role="button" aria-expanded="false" aria-controls="collapseBio">About</a>
									</p>	
									<div class="collapse" id='{{ member.first_name }}_bio'>
										<p class = "bio">{{ member.bio }}</p>
									</div>
 									<p class = "bio d-none d-sm-block">{{ member.bio }}</p>
								</div>
							</div>
						</div>
						<div class = "row">
							<div class = "col-sm-12">
								<h3> {{ member.nickname}} </h3>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}		
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<div class="container-fluid gray_background">
		<div class="no-gutters row">
			<div class= "col-sm">
				<h2 class="card ribbon_header">Alumni</h2>
			</div>
		</div>
		<div class="no-gutters row">
			<div class = "col">
			<ul style="list-style-type:none">
				{% for alumni in alumni_list %}
					<li>{{ alumni.first_name }} {{ alumni.last_name }} <span class="class_year">{{ alumni.class_year }}</span></li>
				{% endfor %}
			</ul>
			</div>		
		</div>
	</div>
{% endblock %}
