@import 'variables';

.members_intro{
  display: block;
  background-color: #333;
  text-align: center;
  margin: 50px 0px;
  padding: 2% 10%;
  font-size: 1.02em;
}

.member{
  background-color: #333;
  width: 40em;
  margin: 20px 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.member h3{
  grid-column-start: span 2;
  margin: 0px;
  background-color: #008984;
  text-align: center;
  font-size: 1.5em;
}

.member img{
  object-position: center;
  height: 20em;
  max-height: 320px;
}

.member_details{
  margin-left: 10px;
  margin-right: 20px;
} 

#page-container.container-fluid{
  padding: 0px;
}

.col-sm{
	display: flex;
	justify-content: center;
	margin-right: 0px;
} 

.bio{
	margin-bottom: 0px;
}

.profile_picture{
	height: 320px;
    width: 180px;
    background-size: cover;
    background-position: center center;
}

 @media (max-width: $screen-sm-min) {
     .xs-format{
	 	align-items: center;
	 	justify-content: center;
	 	text-align: center;
	 }
	 .profile_picture{
	 	width: 100%;
	 }
	 .bio{
	 	text-align: left;
	 	padding-left: 7%;
	 }
	 .about{
	 	border-radius: 4px;
	 	width: 100%;
	 	background-color: $pc-gray;
	 	font-weight: bold;
	 	font-color: #bbb;
	 }
 }