
@import 'variables';

html {
    height: 100%;
}

body {
    background-color: $pc-dark-gray;
    font-size: 16px;
	padding-top: 8%;
	@media(max-width: $screen-sm-max){
		padding-top: 12%;
	}
}


main {
    min-height: 65vh;
}

#page-container {
    // margin-top: 70px;
    color: #bbb;
}

.container_text_center {
   text-align: center;
 }

div.text_left_justify{
  display: inline-block;
  text-align: left;
 }