.image-container{
	position: relative;
  	width: 100%;
  	height: 70%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  -webkit-transition: all ease .5s;
  background-color: $pc-teal;
}

.image-container:hover .overlay {
  opacity: .75;
  cursor: pointer;
}

.icon{
	color: white;
 	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.icon:hover {
  color: white;
}

.article-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card.ribbon_header{
	margin: auto;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

.youtube{
	height: 30em;
	margin-bottom: 20px;
}

.w-iframe{
	height: 100%;
}
.w-iframe > iframe{
	width:100%; 
	height: 80%;
	margin: none;
}

 iframe{
	margin-left: auto;
	margin-right: auto;
	display: block;
} 

.article{
	margin-bottom: 30px;
}

.carousel-inner{
	height: 35em;
}

.carousel-inner img {
  margin: auto;
  height: 40em;
  overflow: hidden;
}

.article-form{
	margin-bottom: 30px;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: $pc-dark-teal;	
}

.article-title{
	margin: 10px;
	padding-bottom: 20px;
	font-size: 1.5em;
}

.home-info{
	padding-left: 50px;
	padding-right: 50px;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min){
	.article-title{
		font-size: 1em;
	}
}

@media (min-width: $screen-lg-min){
	.youtube{
		height: 40em;
	}
	.w-iframe > iframe{
		width: 90%;
	}
}

@media (max-width: $screen-md-min){
	.home-info{
		padding-left: 0px;
		padding-right: 0px;
	}
	.w-iframe > iframe{
		height: 70%;
	}
}
