
.navbar {
    display: inline-flex; //Override Boostrap default
    padding: 0px;         //Override Boostrap default
}

.nav-link {
    padding: 0rem;  //Override for Boostrap default
}



.nav-logo {
    display: none;  //Hide the logo on mobile devices

    // Show the logo on larger screens
    @media (min-width: $screen-sm-max) {
        display: inline-block;
    }

    img {
        margin-left: 20px;
        margin-right: 20px;
        width: 200px;
        height: auto;
        margin-top: 0.75em;

    }
}



.ribbon {
	// display:inline-block;
    // background-color: $pc-teal;
    display:inline-flex;
    width: 100%;
    @media (min-width: $screen-sm-min) {
        width: auto;
    }
}

.ribbon:after, .ribbon:before {
	margin-top:0.5em;
	content: "";
	float:left;
	border:1.5em solid $pc-teal;
}

.ribbon:after {
	border-right-color:transparent;
}

.ribbon:before {
	border-left-color:transparent;
}

.ribbon a:link, .ribbon a:visited {
	color:#fff;
    font-weight: bold;
	text-decoration:none;
    float:left;
    height:3.5em;
	overflow:hidden;
}

.ribbon span {
	background: $pc-teal;
	display:inline-block;
	line-height:3em;
	// padding:0 26px;
    padding: auto;
	margin-top:0.5em;
	position:relative;
	transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
	background: $pc-light-teal;
	margin-top:0;
}

.ribbon span:before {
	content: "";
	position:absolute;
	top:3em;
	left:0;
	border-right:0.5em solid darken($pc-dark-teal, 10%);
	border-bottom:0.5em solid $pc-teal;
}

.ribbon span:after {
	content: "";
	position:absolute;
	top:3em;
	right:0;
	border-left:0.5em solid darken($pc-dark-teal, 10%);
	border-bottom:0.5em solid $pc-teal;
}


.nav-left {
    // width: 399;
    span {
        padding:0 32.5px;
    }
}

.nav-right {
    // width: 393px;
    span {
        width: 112px;
        text-align: center;
    }
}

//
// /* DEMO example styles for logo image */
// .navbar-brand {
//     padding: 0px;
// }
// .navbar-brand>img {
//     padding: 0px;
//     width: percentage(0.3);
//     height: percentage(0.3);
// }
//
// .navbar-nav {
//     //Default behavior for small screens
//     // background-color: #eee;
//     // padding: 5px;
//     //
//     // @media (min-width: $screen-sm-min) {
//     //     background-color: $pc-teal;
//     //
//     //     border-radius: 3px;
//     // }
//
// }
