// Colors
$pc-teal:       #00BCB5;
$pc-medium-teal: darken($pc-teal, 5%);
$pc-medium-dark-teal: darken($pc-teal, 10%);
$pc-dark-teal:  darken($pc-teal, 10%);
$pc-darker-teal: darken($pc-dark-teal, 6%);
$pc-light-teal: lighten($pc-teal, 6%);

$pc-dark-gray:  #1A1A1A;
$pc-gray:       #333333;


// Sizing
$nav-bar-height:  40px;



// Media Query Breakpoints (Pulled from the Bootstrap files for ease of use)
$screen-sm-min:              576px !default;
$screen-md-min:              768px !default;
$screen-lg-min:              992px !default;
$screen-xl-min:              1200px !default;

// $screen-sm-min:              768px !default;
// $screen-md-min:              992px !default;
// $screen-lg-min:              1200px !default;


// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              (575.98px) !default;
$screen-sm-max:              (767.98px) !default;
$screen-md-max:              (991.98px) !default;
$screen-lg-max:              (1199.98px) !default;
$screen-xl-max:              99999999999999999px !default;
