// Colors

$pc-teal:       #3FBFB6;
$pc-dark-teal:  #1E877A;
$pc-medium-teal: lighten($pc-dark-teal, 8%);
$pc-light-teal: lighten($pc-teal, 8%);

$pc-dark-gray:  #1A1A1A;
$pc-gray:       #333333;


// Sizing
$nav-bar-height:  40px;



// Media Query Breakpoints (Pulled from the Bootstrap files for ease of use)
$screen-sm-min:              768px !default;
$screen-md-min:              992px !default;
$screen-lg-min:              1200px !default;


// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
