{% extends 'base/base.html' %}

{% block content %}
<div class = "container contact">
	<br>
	<div class = "row">
		<div class = "container-fluid d-block d-lg-none d-md-none d-flex flex-column align-items-center">
			<h1 class = "card ribbon_header">Thank You!</h1>
				<p id = "font_white">To contact us about potential performances, questions, or to give us feedback, fill out this form or email our officer list at <a href="mailto:partialcredit@union.rpi.edu" id = "font_teal">partialcredit@union.rpi.edu.</a></p>
				<br>
				<br>
		</div>
		<div class ="col-lg-7 col-md-8 email-form d-flex flex-column align-items-center">
		<div class ="non-semantic-protector">
			<h1 id = "font_white" class="card ribbon_header">Contact Us</h1>
		</div>
		<form class = "form-field" method="post">
		    {% csrf_token %}
		    {{form.media}}
		    {% for field in form %}
				<p class = "form-field">
				{{ field.name|title }}
				<br>
				<div class= "form-field-box">
					{% if field.name == 'messag'%}
					{% else %}
						{{ field }}
					{% endif %}
					
				</div>
				</p>
		    {% endfor %}
		    <div class="form-actions">
		    	<div class = "non-semantic-protector d-flex justify-content-end">
		      <button id = "send" class = "card ribbon_header d-flex align-items-center" type="submit">Send</button>
		 		 </div>
		    </div>
		</form>
		</div>
		<div class = "col-md-1"></div>
		<div class = "col-md-3 d-flex flex-column align-items-center contact-text">
			<div class = "d-none d-lg-block d-md-block ribbon-resize">
				<h1 class = "card ribbon_header">Thank You!</h1>
				<p id = "font_white">To contact us about potential performances, questions, or to give us feedback, fill out this form or email our officer list at <a href="mailto:partialcredit@union.rpi.edu" id = "font_teal">partialcredit@union.rpi.edu.</a></p>
				<br>
				<br>
			</div>
			<div class = "d-block d-flex flex-column align-items-center ribbon-resize">
				<h1 class = "card ribbon_header">Auditions?</h1>
				<p id = "font_white">Auditions are held at the beginning of each semester, you will need to email Katie to schedule a time slot.
				<br><br>
				Have a verse and a chorus from a song that suits your voice prepared, and be ready to go through some vocal warm-ups!
				<br><br>
				Keep checking our social media for more information!
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}