html {
  height: 100%; }

body {
  background-color: #1A1A1A;
  font-size: 16px; }

main {
  min-height: 65vh; }

#page-container {
  color: #bbb; }

.navbar {
  border-bottom: 3px #333333 solid; }
  @media (min-width: 767.98px) {
    .navbar {
      display: inline-flex;
      padding: 0px;
      border-bottom: none; } }

@media (min-width: 768px) {
  .navbar-brand {
    display: none; } }

.nav-link {
  padding: 0; }

.nav-left-second {
  visibility: visible; }
  @media (min-width: 767.98px) {
    .nav-left-second {
      display: none;
      visibility: hidden; } }

.nav-logo {
  display: none; }
  @media (min-width: 768px) {
    .nav-logo {
      display: inline-block; } }
  .nav-logo img {
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    height: auto;
    margin-top: 0.75em; }

.nav-left span, .nav-right span {
  text-align: center; }
  @media (min-width: 767.98px) {
    .nav-left span, .nav-right span {
      width: 111px; } }

.nav-right {
  visibility: visible; }
  @media (max-width: 767.98px) {
    .nav-right {
      display: none;
      visibility: hidden; } }

.ribbon {
  display: inline-flex;
  width: 100%; }
  @media (min-width: 768px) {
    .ribbon {
      width: auto; } }

@media (min-width: 768px) {
  .ribbon:after, .ribbon:before {
    margin-top: 0.5em;
    content: "";
    float: left;
    border: 1.5em solid #00BCB5; }

  .ribbon:after {
    border-right-color: transparent; }

  .ribbon:before {
    border-left-color: transparent; } }
.ribbon a:link, .ribbon a:visited {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden; }
  @media (min-width: 768px) {
    .ribbon a:link, .ribbon a:visited {
      height: 3.5em; } }

.ribbon span {
  background-color: #00BCB5;
  line-height: 3em;
  padding: auto;
  margin-top: 0.5em;
  position: relative;
  transition: background-color 0.2s, margin-top 0.2s; }
  @media (min-width: 768px) {
    .ribbon span {
      background: #00BCB5; } }
  @media (min-width: 767.98px) {
    .ribbon span {
      display: inline-block; } }

@media (min-width: 768px) {
  .ribbon a:hover span {
    background: #00dbd2;
    margin-top: 0; } }
@media (min-width: 768px) {
  .ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #005653;
    border-bottom: 0.5em solid #00BCB5; }

  .ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #005653;
    border-bottom: 0.5em solid #00BCB5; } }
/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%; }

.footer {
  margin-top: 40px;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #008984;
  color: #fefefe; }

.test-small, .test-medium, .test-large, .test-xlarge {
  color: #fff;
  background-color: red;
  margin: 3px;
  padding: 10px; }

.test-small {
  display: none; }
  @media (max-width: 767.98px) {
    .test-small {
      display: block; } }

.test-medium {
  display: none; }
  @media (max-width: 991.98px) {
    .test-medium {
      display: block; } }

.test-large {
  display: none; }
  @media (max-width: 1199.98px) {
    .test-large {
      display: block; } }

.test-xlarge {
  display: none; }
  @media (max-width: 99999999999999999px) {
    .test-xlarge {
      display: block; } }

/*# sourceMappingURL=style.css.map */
