{% load staticfiles %}

<div class="container">
    <nav>
    <div class='nav ribbon align-middle'>
		<a class="flex-sm-fill text-sm-center nva-link" href='/'><span>Home</span></a>
		<a class="flex-sm-fill text-sm-center nva-link" href='#'><span>About</span></a>
        <a class="flex-sm-fill text-sm-center nva-link" href='#'><span>Media</span></a>
    </div>

    <div class="nav-logo">
        <a href ="/"><img class="logo-image" src="{% static "base/logos/logo-nav.png" %}" alt="Partial Credit"></a>
    </div>

    <div class='ribbon nav nav-justified align-middle'>
		<a href='#'><span>Auditions</span></a>
		<a href='#'><span>Contact</span></a>
        <a href='#'><span>Login</span></a>
    </div>
    </nav>
</div>

<div class="container">
<nav class="navbar">
  <a class="nav-item active" href="#"><span class="nav-link">Active</span></a>
  <a class="nav-link" href="#"><span class="nav-link">Link</span></a>
  <a class="nav-link" href="#"><span class="nav-link">Link</span></a>
  <a class="nav-link disabled" href="#"><span class="nav-link">Link</span></a>
</nav>
<nav class="navbar">
  <a class="nav-item active" href="#"><span class="nav-link">Active</span></a>
  <a class="nav-link" href="#"><span class="nav-link">Link</span></a>
  <a class="nav-link" href="#"><span class="nav-link">Link</span></a>
  <a class="nav-link disabled" href="#"><span class="nav-link">Link</span></a>
</nav>
</div>

<!-- <nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{% static "base/logos/logo-nav.png" %}" alt="Partial"></a>
        <a class="navbar-brand" href="/">Partial Credit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="leftside-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-right" id="rightside-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
